/* src/components/TaskForm.css */

.task-form {
    background-color: #1e1e1e; /* Cor de fundo do formulário */
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto; /* Margem automática para centralizar horizontalmente */
    display: flex; /* Define o contêiner como flexível */
    flex-direction: column; /* Alinha os filhos verticalmente */
    align-items: center; /* Centraliza os filhos horizontalmente */
}

.task-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333; /* Borda do input */
    border-radius: 4px;
    background-color: #2a2a2a; /* Fundo do input */
    color: #ffffff; /* Texto do input */
}

.task-form input::placeholder {
    color: #b0b0b0; /* Cor do placeholder */
}
